services:
  mongodb:
    image: "docker.io/mongo:8.2"
    container_name: "mongodb-dev"
    environment:
      - "MONGO_INITDB_DATABASE=filedb"
      - "MONGO_INITDB_ROOT_PASSWORD=secret"
      - "MONGO_INITDB_ROOT_USERNAME=root"
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db

volumes:
  mongodb-data: